@keyframes popup {
    0%{
      transform: scale(0);
      /* transform: translate(-50%,-50%); */
    }
    100%{
      transform: scale(1);
      /* transform: translate(-50%,-50%); */
    }
  }

  @keyframes popout {
    0%{
      transform: scale(1);
      /* transform: translate(-50%,-50%); */
    }
    100%{
      transform: scale(0);
      /* transform: translate(-50%,-50%); */
      /* display: none; */
    }
  }

* {
    font-family: Arial;
    font-weight: bold;
    /* border: 1px solid red; */
}

body {
    margin: 0;
    padding: 0;
    /* min-height: 100vh; */
}

.logo {
    font-family: helvetica;
}

.header{
    background-color: #000;
    border-bottom: 1px solid #E2E8F0;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2.5rem;
    list-style: none;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.nav-logo {
    font-family: helvetica;
    text-decoration: none;
    font-size: 2.1rem;
    font-weight: 500;
    color: #fff;
}

.form {
    /* z-index: 100; */
    top: 150px;
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: none;
    margin: 0 auto 200px auto;
    width: 300px;
    background-color: #fff;
    border-radius: 20px;
    z-index: 9999;
    animation: popup .3s;
}

.form input:focus {
    border: none;
    text-decoration: none;
    outline: none;
}

.form img {
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 25px 0 25px 0;
}

.form div {
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
}
.form {
    padding: 0 50px 0 50px;
    box-shadow: 1px 1px 10px black;
}

.form h1 {
    text-align: center;
}

.form i {
    position: relative;
    right: -325;
    top: 10px;
}

.form i:hover {
    cursor: pointer;
}

.form.login p {
    font-size: 15px;
    text-align: center;
}.form.login a {
    cursor: pointer;
    color: #0000ff;
}

.form ion-icon {
    position: relative;
    top: 3.5px;
    padding: 0;
    text-align: center;
}

.form input {
    border: none;
    background-color: transparent;
}

.form input[type=submit] {
    border: none;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 280px;
    padding: 10px 0 10px 0;
    border: 2px solid black;
    border-radius: 50px;
    transition: .3s ease;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
}

.form input[type=submit]:hover {
    cursor: pointer;
    background-color: black;
    color: #fff;
}

.contact.titel {
    text-align: center;
}

.page {
    margin-top: 110px;
    min-height: 100vh;
}

.content .box {
    background-color: #eee;
    width: 75%;
    margin: 0 auto 25px auto;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}

.content h1{
    text-align: center;
}

.content .box .date {
    padding: 0;
    margin: 0;
    margin-top: -17px;
}

.content .box .italic {
    font-style: italic;
}

.content .box .content {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    /* gap: 20px; */
}

.content .box .content img {
    padding: 0;
    margin: 0;
    max-width: 400px;
    padding: 25px;
}

.content .box form {
    width: 90%;
    margin: 0 auto;
}

.content .box form input[type=text], .content .box form input[type=email], .content .box form textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 20px;
    color: black;
    opacity: 1;
    text-align: left;
    margin-bottom: 40px;
}

.content .box form input[type=text]:focus, .content .box form input[type=email]:focus, .content .box form textarea:focus {
    outline: none;
}

.content .box form input::placeholder, .content .box form textarea::placeholder {
    color: black;
    opacity: 1; 
}

.content .box form input[type=submit] {
    border: 1px solid black;
    font-size: 20px;
    background-color: transparent;
    padding: 5px 10px;
    transition: .3s;
}

.content .box form input[type=submit]:hover {
    background-color: black;
    color: #fff;
    cursor: pointer;
}

.content .box .content .tekst {
    max-width: 65%;
}

.bar-panel li {
    font-size: 20px;
    border: 3px solid black;
    padding: 7px 13px;
    display: inline;
    text-decoration: none;
    list-style: none;
    margin: 0 20px 0 20px;
    text-align: center;
    border-radius: 50px;
    transition: .3s ease;
}

.bar-panel li:hover {
    cursor: pointer;
    background: #000;
    color: #fff;

}

.bar-panel {
    margin-top: 200px;
    text-align: center;
}



.footer {
    /* position: absolute; */
    background-color: black;
    text-align: center;
    color: #fff;
    width: 100%;
    margin-top: auto;
    height: 40px;
    /* bottom: 0; */
}

.footer p {
    padding: auto 0;
    line-height: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
}